.main{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway';
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    text-align: center;
    font-size: 350%;
    position: absolute;
    bottom: 60%;
    text-shadow: 3px 2px 5px #D4AF37;
  }
  .iframeHolder{
    position: relative;
    width: 100%;
    height: calc(100vw * .33);
    min-height: 750px;
  }
}
.buttonHolder{
  position: absolute;
  bottom: 37%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  h2{
    font-size: 200%;
    text-shadow: 2px 1px 4px #D4AF37;
  }

}

.backroundImage{
  z-index: -1;
  height: 100%;
}



@media (max-width: 550px) {
  .main{
    .buttonHolder{
      bottom: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
    }
  }
}